<!doctype html>
<html>

<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
        
        ng\:form {
            display: block;
        }
        
        .ng-animate-shim {
            visibility: hidden;
        }
        
        .ng-anchor {
            position: absolute;
        }
        
        body{
            background-image: url(https://i.ytimg.com/vi/R6qeTdajmKo/maxresdefault.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            background-position: center center;
            width: 100vw;
            height: 100vh;
            
    
        }
        
        .head,
        .small_head {
    color: #fff;
    font-family: 'Alex Brush', cursive
        }

        .head {
    font-size: 6.5em
        }

        .small_head {
            font-size: 4em
        }
        
        .head,
        {
        transition: all .5s ease-in-out
        }
        
    </style>
    <meta charset="utf-8">
    <title>Sponsors</title>
    <meta name="description" content="The annual techno-cultural fest of RVCE is back. And it promises to be bigger and better than ever. Celebrity Pro-Shows, DJ Nights, Coke Studio Nights, Fashion Show, Battle of The Bands ,Hackathons and more than 80+ events lined up. Come be a part of us, for this is the festival you waited for.">
    <meta name="author" content="8th Mile">
   
    <meta name="google-site-verification" content="MckMjalxW7aMxqDAm90B2Y5cNDCS1jseYF9N0Ojco14">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/vendor.34c7f3e9.css">
    <link rel="stylesheet" href="styles/main.b3b4247b.css"> 
    <link rel="stylesheet" href="styles/main.css"> 
    </head>

<body class="ng-scope">
  
   <hr class="invisible">
          
    
<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				    
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="/mainpage/#home">
		                	<img id="mile" class="img-responsive" src="images/main/8.png" alt="logo">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">                 
		                    <li class="scroll"><a href="/mainpage/#home">Home</a></li>
		                    <!--<li id="events" class="no-scroll"><a href="/eventspage">Events</a>-->
		                    </li>  
		                    <li class="scroll"><a href="/mainpage/#footer">Events</a></li>
		                    <!--<li class="scroll"><a href="#eventhead">Events</a></li> -->                 
		                    <li class="scroll"><a href="/mainpage/#event">Proshows</a></li>
		                                       
		                    <!--<li class="no-scroll"><a href="#twitter">Twitter</a></li>-->
		                    <!--<li><a cslass="no-scroll" href="#" target="_blank">PURCHASE TICKETS</a></li>-->
		                    <!--<li class="scroll"><a href="#explore">CountDown</a></li>-->
		                    <li class="scroll"><a href="/mainpage/#contact">Contact Us</a></li>       
		                </ul>
		            </div>
		        </div>
	        </div>
        </div>                    
    </header>
				


    
   
    <!-- uiView: -->
    <div id="page_content" class="fade1 ng-scope" ui-view="">
        
        <!-- The page's code starts here-->
        <div class="container-fluid spons ng-scope" style="color:white">
            
          
            <div class="row">
                <div class="col-sm-12 text-center" style="padding-top:0px"> <span class="head hidden-sm hidden-xs">Sponsors</span> 
                    <span class="small_head hidden-lg hidden-md">Sponsors</span> </div>
            </div>
           
            <br>
          
            <hr>
            <br>
            <!-- ngRepeat: row in logos -->
            <div class="row ng-scope" ng-repeat="row in logos">
                <!-- ngIf: row.length===1 -->
                <div ng-if="row.length===1" class="ng-scope">
                    <!-- ngRepeat: logo in row -->
                    <div ng-repeat="logo in row" class="col-md-4 col-md-offset-4 ng-scope">
                        <center>
                            <h2 class="text-center text-info" style="color:white; font-size:20px"> Title Sponsor </h2>
                            <a href="http://www.specsmakers.in/" target="_blank"> <img style="min-height:60px; vertical-align:middle; margin-bottom:50px" class="img-responsive" src="https://pbs.twimg.com/profile_images/708451486871658496/ZBXnYgb1.jpg"> </a>
                        </center>
                    </div>
                    <!-- end ngRepeat: logo in row -->
                </div>
                <!-- end ngIf: row.length===1 -->
                <!-- ngIf: row.length===2 -->
                <!-- ngIf: row.length===3 -->
                <!-- ngIf: row.length===4 -->
            </div>
            <!-- end ngRepeat: row in logos -->
            <div class="row ng-scope" ng-repeat="row in logos">
                <!-- ngIf: row.length===1 -->
                <div ng-if="row.length===1" class="ng-scope">
                    
                </div> 
                <!-- end ngIf: row.length===1 -->
                <!-- ngIf: row.length===2 -->
                <!-- ngIf: row.length===3 -->
                <!-- ngIf: row.length===4 -->
            </div>
            <!-- end ngRepeat: row in logos -->
            <div class="row ng-scope" ng-repeat="row in logos">
                <!-- ngIf: row.length===1 -->
                <div ng-if="row.length===1" class="ng-scope">
                    <!-- ngRepeat: logo in row -->
                    <div ng-repeat="logo in row" class="col-md-4 col-md-offset-4 ng-scope">
                        <center>
                            <h2 class="text-center text-info ng-binding" style="color:white; font-size:20px"> Silver Sponsor </h2>
                            <a href="https://www.allindiaadmission.co.in/" target="_blank"> <img style="min-height:60px; max-height:140px; vertical-align:middle; margin-bottom:50px"  class="img-responsive" src="images/main/All_india_admission.jpg"> </a>
                        </center>
                    </div>
                    <!-- end ngRepeat: logo in row -->
                </div>
                <!-- end ngIf: row.length===1 -->
                <!-- ngIf: row.length===2 -->
                <!-- ngIf: row.length===3 -->
                <!-- ngIf: row.length===4 -->
            </div>
            <!-- end ngRepeat: row in logos -->
            <div class="row ng-scope">
                <!-- ngIf: row.length===1 -->
                <!-- ngIf: row.length===2 -->
                
                <div class="ng-scope container">
                    <!-- ngRepeat: logo in row -->
                    <h2 class="text-center text-info ng-binding" style="color:white; font-size:20px"> Others </h2>
                    <hr class="invisible">
                    <div class="col-md-3 ng-scope">                       
                            
                        <a href="http://www.kotak.com" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px" class="img-responsive" src="images/main/Kotak1.jpg"> </a>
                    </div>
                    <div class="col-md-3 ng-scope"> 
                           
                        <a href="http://www.indigonation.com/" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px"  class="img-responsive" src="images/main/indigo_nation.jpg"> </a>
                       
                    </div>
                    
                    <div class="col-md-3 ng-scope"> 
                           
                        <a href="www.jealous21.com/" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px"  class="img-responsive" src="images/main/Jealous%2021.jpeg"> </a>
                       
                    </div>
                    
                    <div class="col-md-3 ng-scope"> 
                           
                        <a href="https://www.honda2wheelersindia.com/" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px"  class="img-responsive" src="images/main/Honda2wheeler.png"> </a>
                       
                    </div>
                    
                    <div class="col-md-3 ng-scope"> 
                           
                        <a href="http://www.eurekaforbes.com/" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px"  class="img-responsive" src="images/main/EurekaForbes.jpg"> </a>
                       
                    </div>
                    
                    <div class="col-md-3 ng-scope"> 
                           
                        <a href="http://www.enchantedforest.com/" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px"  class="img-responsive" src="http://www.enchantedforest.org.uk/uploads/images/logo-enchanted-forest.png"> </a>
                       
                    </div>
                    
                    <div class="col-md-3 ng-scope"> 
                           
                        <a href="http://chefsbasket.com/" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px" class="img-responsive" src="images/main/chef.png"> </a>
                       
                    </div>
                    
                    <div class="col-md-3 ng-scope"> 
                           
                        <a href="http://www.mtvindia.com/cokestudio/" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px"  class="img-responsive" src="images/main/coke.png"> </a>
                       
                    </div>
                    
                    <div class="col-md-3 ng-scope"> 
                           
                        <a href="http://www.jkcement.com/" target="_blank"> <img style="min-height:50px;max-height:140px;vertical-align:middle;margin-bottom:50px"  class="img-responsive" src="http://kikkidu.com/wp-content/uploads/2011/06/jk_250.jpg"> </a>
                       
                    </div>
                        
                </div>
                   
                
              
                    
                </div>
                <!-- end ngIf: row.length===2 -->
                <!-- ngIf: row.length===3 -->
                <!-- ngIf: row.length===4 -->
            </div>
            <!-- end ngRepeat: row in logos -->
           
        
        
    
    
    </div>
    
    <!-- CLOCK -->
    <!--    <div class="row fade1 hidden-xs hidden-sm" style="position:fixed;right:2em;top:5px;z-index:2">
      <div id="animationSample1"></div> 
      <div id="animationSample2"></div>
      <div id="animationSample3"></div> 
      <div class="midcircle"></div>
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div> -->
    <!-- FB like -->
    
    <!-- Social Links -->
    <div class="row fade1 hidden-sm hidden-xs" style="position:fixed;right:2em;bottom:5px;z-index:2">
        <a href="http://www.specsmakers.in/" target="_blank"><img width="100px" style="position: relative;top:0.1em" src="images/main/Specsmakers.jpg"></a> <span class="date" style="position: relative;top:0.3em;text-shadow:0px 0px 5px #888888">24<sup>th</sup> - 26<sup>th</sup> MARCH 2017</span>
        <a target="_blank" class="social-icons" href="https://www.facebook.com/8thmile/"><img class="social-img" width="40px" height="40px" src="images/social/facebook.bb1a871f.png"></a>
        <a target="_blank" class="social-icons" href="https://twitter.com/8thmilervce"><img class="social-img" width="40px" height="40px" src="images/social/twitter.775fd410.png"></a>
       
        <a target="_blank" class="social-icons" href="https://www.youtube.com/watch?v=1nxCqmBj3u0"><img class="social-img" width="40px" height="40px" src="images/social/youtube.53ff03a6.png"></a>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-88491418-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="scripts/vendor.6a48ef76.js"></script>
    <script src="scripts/scripts.25f4f04d.js"></script>
    <script aria-hidden="true" type="application/x-lastpass" id="hiddenlpsubmitdiv" style="display: none;"></script>
    <script>
        try {
            (function() {
                for (var lastpass_iter = 0; lastpass_iter < document.forms.length; lastpass_iter++) {
                    var lastpass_f = document.forms[lastpass_iter];
                    if (typeof(lastpass_f.lpsubmitorig2) == "undefined") {
                        lastpass_f.lpsubmitorig2 = lastpass_f.submit;
                        if (typeof(lastpass_f.lpsubmitorig2) == 'object') {
                            continue;
                        }
                        lastpass_f.submit = function() {
                            var form = this;
                            var customEvent = document.createEvent("Event");
                            customEvent.initEvent("lpCustomEvent", true, true);
                            var d = document.getElementById("hiddenlpsubmitdiv");
                            if (d) {
                                for (var i = 0; i < document.forms.length; i++) {
                                    if (document.forms[i] == form) {
                                        if (typeof(d.innerText) != 'undefined') {
                                            d.innerText = i.toString();
                                        } else {
                                            d.textContent = i.toString();
                                        }
                                    }
                                }
                                d.dispatchEvent(customEvent);
                            }
                            form.lpsubmitorig2();
                        }
                    }
                }
            })()
        } catch (e) {}
    </script>
</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span>

</html>
